#docker run -e POSTGRES_PASSWORD=mysecretpassword -e PGDATA=/var/lib/postgresql/data/pgdata -v /postgresdata:/var/lib/postgresql/data -p 5433:5432 postgres
services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ./postgresdata:/var/lib/postgresql/data/pgdata
    ports:
      - 5433:5432
